body {
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	color: #666666;
	vertical-align: top;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Droid Serif', serif;
	margin: 0;
	padding: 0;
}

.header {
	height: 100px;
	background-color: rgba(0, 145, 202, 0.15);

	.container {
		width: 80%;
		margin: 0 auto;

		p {
			display: inline-block;
			font-size: 0.9rem;
			line-height: 100px;
			margin: 0;
		}
	}
}

.main-container {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.button {
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	height: 12px;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding: 4px;
	margin: 2px;

	&:hover {background-color:#e9e9e9;}

	&:active {
		position:relative;
		top:1px;
	}
}

input {
	background-color: #f9f9f9;
	height: 16px;
	width: 350px;
	padding: 4px;
	margin: 2px;
	border: 1px solid #dcdcdc;

	&.changed {background: #ffcccc;}
}

.footer {
	width: 100%;
	height:50px;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	background-color: rgba(0, 145, 202, 0.15);

	.container {
		width: 80%;
		margin: 0 auto;

		p {
			display: inline-block;
			font-size: 0.9rem;
			line-height: 50px;
			margin: 0;
		}
	}
}
