//////////////////////////////////////////////////////////////////////////
// CSS RESET -- ERIC MEYER ///////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
  font-family: "proxima-nova", sans-serif;
	font-size: 1em;
	line-height: 1.6;
	color: #666666;
	vertical-align: top;
}

.main-container {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 15px;
}

a {
	color: rgb(0, 145, 202);
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

//////////////////////////////////////////////////////////////////////////
// HEADER STYLING ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.header { margin: 15px 0 15px 0; }

.logo-space {
	height: 50px;

	.logo-wew {
		height: 50px;
		width: 50px;
		margin-right: 5px;
		display: inline-block;
	}

	.my-name {
		font-size: 24px;
		color: rgb(0, 145, 202);
		display: inline-block;
		vertical-align: top;
	}
}

.dotted-border-left {
	height: 25px;
	width: 75%;
	background: url(..//images/dots.png) repeat-x left bottom;
	display: inline-block;
}

.main-menu {
	height: 25px;
	width: 23%;
	background: url(..//images/dots.png) repeat-x left bottom;
	display: inline-block;
	float: right;
	a { font-size: 0.75em; }
}

//////////////////////////////////////////////////////////////////////////
// 75-25 COLUMN STYLING //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.content-column {
	width: 75%;
	display: inline-block;
	margin-bottom: 55px;
}

.sidebar {
	width: 23%;
	display: inline-block;
	float: right;
	margin-bottom: 55px;
}

//////////////////////////////////////////////////////////////////////////
// HOME PAGE STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.introtext { margin-bottom: 15px; }

.herotext {
	line-height: 1.2;
	color: rgb(0, 145, 202);
	p { margin: 0 0 0 0; }
	margin-bottom: 15px;
}

.follow-up-text { max-width: 388px; }

//////////////////////////////////////////////////////////////////////////
// RESUME PAGE STYLING ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.sub-content-left {
	width: 48.75%;
	display: inline-block;
}

.initial-content, .software, .development, .experience, .education {
	max-width: 388px;
	p { margin-bottom: 10px; }
}

.sub-content-right {
	width: 48.75%;
	display: inline-block;
	float: right;
}

.show-resume-btn, .download-btn {
	font-size: 0.9rem;
	height: 30px;
	color: rgb(0, 145, 202);
	text-decoration: none;
	cursor: pointer;
	&:hover { text-decoration: underline; }
}

//////////////////////////////////////////////////////////////////////////
// PORTFOLIO PAGE STYLING ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
	.project-tile{
		img {width: 100%}
		width: 31%;
		float: left;
		margin: 0 3.5% 3.5% 0;
		display: inline-block;

		p {
			font-size: 0.85em;
			line-height: 1.5em;
		}
	}

	.project-tile:nth-child(3n+3) {margin-right: 0;}

//////////////////////////////////////////////////////////////////////////
// PROJECT VIEW STYLING //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.project-view {
	.content-column {
		img {
			max-width: 100%;
			max-height: 600px;
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	.sidebar {
		h3 {
			line-height: 1;
			margin-bottom: 15px;
		}

		p { margin-bottom: 15px; }	
	}
}

//// PHOTOGRAPHY ///////////////////////////////////////////////////////
.photography {
	width: 75%;
	display: inline-block;
	margin-bottom: 55px;

	.img-wide {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.left {
		float: left;
		max-width: 49.5%;
		margin-right: 0.5%;
		margin-bottom: 15px;
	}

	.right {
		float: right;
		max-width: 49.5%;
		margin-left: 0.5%;
		margin-bottom: 15px;
	}
}

//////////////////////////////////////////////////////////////////////////
// FOOTER STYLING ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.footer {
	width: 100%;
	height:40px;
	margin-top: 15px;
	position: fixed;
	bottom: 0;
	background-color: #d8eef6;

	.container {
		width: 90%;
		margin: 0 auto;
		padding-top: 9px;

		p {
			float: left;
			font-size: 0.975em;
			margin-right: 15px;
		}
	}

	img {
		float: left;
		height: 24px;
		margin-right: 10px;
	}
}